<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">

    <h1 class="row d-flex justify-content-center">Edit Question</h1>

    <%= form_with model: @question, url: question_path, local: true do |form| %>
      <div class="row d-flex justify-content-center">
        <%= render "form", question: @question, form: form %>
        <%= form.submit "Update Question", class: "btn btn-success" %>
      </div>


    <% end %>
  </div>
</section>

<%= javascript_include_tag "question_form" %>
