<h6>Title <span class="text-danger">*</span></h6>
<%= f.text_field :title, class: "form-control mb-3", placeholder: "Quiz title", required: true %>

<!--<h6>Total Marks <span class="text-danger">*</span></h6>-->
<% f.number_field :total_marks, class: "form-control mb-3", placeholder: "Total marks", required: true %>
