<h1 class="d-flex justify-content-center fw-bold mt-2">Enter New Password</h1>

<div class="d-flex justify-content-center mt-5">
  <%= form_with model: @user, url: password_reset_path(params[:id]), class: "form-control w-25", local: true do |form| %>
    <p class="fw-bold">New Password <span class="text-danger">*</span></p>
    <%= form.password_field :password, class: "form-control mb-3", required: true %>
    <p class="fw-bold">Confirm Password <span class="text-danger">*</span></p>
    <%= form.password_field :password_confirmation, class: "form-control mb-3", required: true %>
    <div class="d-grid gap-2">
      <%= form.submit "Update Password", class: "btn btn-lg btn-success" %>
    </div>
  <% end %>
</div>