<div class="container">
  <div class="container error-container">
    <h1>500</h1>
    <h2>Internal Server Error</h2>
    <p>Something went wrong on our end. Please try again later.</p>
    <%= link_to "Return to Homepage", root_path, class: "button" %>
  </div>
</div>