<div id="lessons-fields">
    <div class="lesson-fields mb-3">
        <h6>Title <span class="text-danger">*</span></h6>
        <%= f.text_field :title, class: "form-control mb-3", placeholder: "Lesson title", required: true %>

        <h6>Order <span class="text-danger">*</span></h6>
        <%= f.number_field :order, class: "form-control mb-3", placeholder: "Order", required: true %>

        <h6>Video <span class="text-danger">*</span></h6>
        <%= f.file_field :video, class: "form-control mb-3", accept: "video/*", required: true %>

        <h6>Contents</h6>
        <%= f.file_field :contents, class: "form-control mb-3",multiple: true, placeholder: "Lesson contents" %>
    </div>
</div>